# .gitignore file for Django project

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

venv/

build/
dist/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django migrations
*/migrations/*

# Static files
staticfiles/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
*.iml
