{% load static %}
<footer id="page-footer" class="bg-white border-top shadow-sm">
  <div class="content py-3">
    <div class="row align-items-center fs-sm text-muted">

      <!-- Chap tomon: Tizim nomi va yil -->
      <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
        <span class="fw-semibold">
          <a href="https://namspi.uz" class="text-primary text-decoration-none" target="_blank">
            {{ system.name|default:"Detaktik Question" }}
          </a>
        </span>
        &copy; <span id="year-copy"></span> Barcha huquqlar himoyalangan.
      </div>

      <!-- O‘ng tomon: Yaratuvchi -->
      <div class="col-md-6 text-center text-md-end">
        <small class="text-muted">
          Dasturchi: <strong>Izzatbek Ulkanov</strong> | NamDPI RTTM
        </small>
      </div>
    </div>
  </div>
</footer>

<script>
  document.getElementById("year-copy").textContent = new Date().getFullYear();
</script>